@font-face {
  font-family: 'LogoFont';
  src: url('../src/assets/fonts/SourceSans3-Medium.ttf') format('truetype');
}


:root {
  --header: rgba(60, 60, 67);
  --text: rgba(60, 60, 67, .78);
  --text-fade: rgba(60, 60, 67, .56);
  --title-font: 'LogoFont';
  --page-color: #ff9f39;
}