.brief-map {
    display: flex;
    justify-content: center;
    align-items: center;
}

.brief-card {
    width: 320px;
    height: 320px;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .05);
    border: 2px solid #f0f0f0;
  }
  
  .brief-title {
    font-weight: 600;
    color: rgb(31 41 55);
  }

  .brief-title svg {
    width: 2rem;
    height: 2rem;
  }

  .brief-card .brief-card-lower {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .brief-description-icon svg {
    width: 6rem;
    height: 6rem;
  }
  .brief-description-content {
    padding: 10px;
    text-align: center;
  }

  .brief-description-content p {
    font-size: 18px;
    color: var(--text);
  }

@media only screen and (max-width: 600px) {
    .brief-map {
        padding: 20px 4vw 40px 4vw;
        flex-direction: column;
    }

    .brief-card-item {
      margin: 10px 10px 10px 10px;
  }
}

@media only screen and (min-width: 600px) {
  .brief-map {
    padding: 20px 4vw 40px 4vw;
    flex-direction: column;
  }

  .brief-card-item {
  margin: 10px 10px 10px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .brief-map {
    padding: 20px 4vw 40px 4vw;
    flex-direction: column;
  }

  .brief-card-item {
  margin: 10px 10px 10px 10px;
  }
}

@media only screen and (min-width: 992px) {
  .brief-map {
    padding: 20px 4vw 40px 4vw;
    flex-direction: column;
  }

  .brief-card-item {
  margin: 10px 10px 10px 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .brief-map {
    padding: 20px 20vw 40px 20vw;
    flex-direction: row;
  }
}
  